@import '../../../../../styles/variables.scss';

.background-init {
  background: var(--color-siete);
}
::ng-deep ngx-sharebuttons svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  color: brown;
}

#map{
  height: 300px;
}
.map-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.pointer-event{
  pointer-events: auto !important;
}
::ng-deep .img-container .drag-element {
  position: revert !important;
}

::ng-deep .img-containe{
  background-color: #FFFFFF !important;
}

::ng-deep .footer-section .image-txt-count-left-align {
  color: transparent !important;
}
::ng-deep .footer-section .footer-txt-right-align {
  color: transparent !important;
}

::ng-deep .footer-section .footer-txt-right-align span.footer-txt-right-align-note {
  color: transparent !important;
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .nav-link{
    color: var(--color-dos);
    font-size: 14px;
  }
}


::ng-deep .map-marker-icon .item-marker {
  border-radius: 100% 100% 100% 35%;
  border: none !important;
  width: 22px !important;
  height: 22px !important;
  background-color: transparent !important;
  box-shadow: 0 0 3px #0000005d;
  transform: rotate(-45deg);
  overflow: hidden;
}
::ng-deep .map-marker-icon .item-marker .icon-image {
  width: 75% !important;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  transform: rotate(38deg);
}

