@import '../../../../../styles/variables.scss';

.background-init {
  background: var(--color-siete);
}
::ng-deep ngx-sharebuttons svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  color: brown;
}

#map{
  height: 300px;
}
.map-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.pointer-event{
  pointer-events: auto !important;
}
::ng-deep .img-container .drag-element {
  position: revert !important;
}

::ng-deep .img-containe{
  background-color: #FFFFFF !important;
}

::ng-deep .footer-section .image-txt-count-left-align {
  color: transparent !important;
}
::ng-deep .footer-section .footer-txt-right-align {
  color: transparent !important;
}

::ng-deep .footer-section .footer-txt-right-align span.footer-txt-right-align-note {
  color: transparent !important;
}
