<div class="container pb-5" *ngVar="(itemRD$ | async) as itemRD">
  <!-- Vista computador -->
  <div class="row">
    <div class="col-12 py-5">
      <div class="d-flex justify-content-lg-between justify-content-around align-items-center">
        <div class="fs-montserrat-bold-h2 text-lg-center">Contenidos recomendados</div>
        <button type="button" class="btn-bibliored btn-color-primary d-none d-lg-block">Ver todos
        </button>
      </div>
    </div>
    <br>
    <span class="row" *ngIf="itemRD?.hasSucceeded && itemRD?.payload?.page.length > 0">
            <div class="col-lg-3 d-none d-lg-block" *ngFor="let item of itemRD?.payload?.page; index as i">
                 <div class="card h-100" role="button" *ngIf="i < 4"
                      (click)="abrirLink(item?.allMetadata('dc.identifier.uri'))" [routerLink]="">
                   <!-- content-image -->
                   <!-- background-fondo -->
                     <div class=" justify-content-center  align-items-center d-flex h-100 background-fondo m-3">
                       <ds-thumbnail [thumbnail]="item?.thumbnail | async" [limitWidth]="false" class=""></ds-thumbnail>
                     </div>
                     <div class="card-body ">
                         <h5 class="card-title fs-montserrat-bold-h4 link-title"
                             data-toggle="tooltip" data-placement="top"
                             title="{{item?.allMetadata('dc.title')[0]?.value }}">{{item?.allMetadata('dc.title')[0]?.value }}</h5>
                         <div class="text-uppercase">{{item?.allMetadata('dc.creator')[0]?.value }}</div>
                         <div class="fs-tags pt-3 fixed-bottom position-absolute m-4">
                           {{item?.allMetadata('dc.subject')[0]?.value }}
                         </div>
                     </div>
                 </div>
            </div>
        </span>
  </div>

  <!-- Vista Movil -->
  <div class="row" *ngIf="itemRD?.hasSucceeded && itemRD?.payload?.page.length > 0">
    <div class="col-12 d-lg-none pb-3" *ngFor="let item of itemRD?.payload?.page; index as i">
      <div class="row" *ngIf="i < 4"
           (click)="abrirLink(item?.allMetadata('dc.identifier.uri'))" [routerLink]="">
        <div class="col-5 col-md-4 text-center">
          <ds-thumbnail [thumbnail]="item?.thumbnail | async" [limitWidth]="false" class=""></ds-thumbnail>
        </div>
        <div class="col-7 col-md-8">
          <h5 class="fs-montserrat-bold-h4">{{item?.allMetadata('dc.title')[0]?.value }}</h5>
          <div class="text-uppercase">{{item?.allMetadata('dc.creator')[0]?.value }}</div>
          <div class="fs-tags pt-3">{{item?.allMetadata('dc.subject')[0]?.value }}</div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 d-lg-none pb-3">
       <div class="row">
         <div class="col-5 col-md-4 text-center">
           <img
             src="https://coleccionesdigitales.biblored.gov.co/files/fullsize/8162d553a01363530f7153abc93360d3.jpg"
             class="img-movil" alt="...">
         </div>
         <div class="col-7 col-md-8">
           <h5 class="fs-montserrat-bold-h4">Bogotá: Leer para la Vida</h5>
           <div class="text-uppercase">RED DISTRITAL DE BIBLIOTECAS PÚBLICA. BIBLIO RED (BOGOTÁ.CO)</div>
           <div class="fs-tags pt-3">Memoria Oral</div>
         </div>
       </div>
     </div>

     <div class="col-12 d-lg-none pb-3">
       <div class="row">
         <div class="col-5 col-md-4 text-center">
           <img src="https://coleccionesdigitales.biblored.gov.co/files/fullsize/03a01d64fb0a9b40eb6ed80a87ef5b63.jpg"
                class="img-movil" alt="...">
         </div>
         <div class="col-7 col-md-8">
           <h5 class="fs-montserrat-bold-h4"> Las aventuras de Gato: El triángulo de La Candelaria</h5>
           <div class="text-uppercase">Rabanal, Daniel</div>
           <div class="fs-tags pt-3">Historieta</div>
         </div>
       </div>
     </div>

     <div class="col-12 d-lg-none pb-3">
       <div class="row">
         <div class="col-5 col-md-4 text-center">
           <img src="https://coleccionesdigitales.biblored.gov.co/files/fullsize/aa77463ff92caa88c78656d1c6b60b15.jpg"
                class="img-movil" alt="...">
         </div>
         <div class="col-7 col-md-8">
           <h5 class="fs-montserrat-bold-h4">¡Líbranos de todo mal!</h5>
           <div class="text-uppercase">Reyes, Gustavo. Presentador</div>
           <div class="fs-tags pt-3">Literatura</div>
         </div>
       </div>
     </div>

     <div class="col-12 d-lg-none pb-3">
       <div class="row">
         <div class="col-5 col-md-4 text-center">
           <img src="https://coleccionesdigitales.biblored.gov.co/files/fullsize/5a844aa00e5abcd3baa272bfb408b558.jpg"
                class="img-movil" alt="...">
         </div>
         <div class="col-7 col-md-8">
           <h5 class=" fs-montserrat-bold-h4">Cartas en el asunto</h5>
           <div class="text-uppercase">RMoreno-Durán, R. H.</div>
           <div class="fs-tags pt-3">Cuento</div>
         </div>
       </div>
     </div>-->
  </div>


  <div class="col-12 d-flex justify-content-center pt-5">
    <button type="button" class="btn-bibliored btn-color-primary jumbotron d-lg-none">Ver todos</button>
  </div>
</div>
