.card-img-top {
  border-radius: 25px;
}

.content-image {
  height: 300px;
}

.card {
  border-radius: 10px;
  // width: 16rem;
  height: 500px;
}

img {
  // background-color: red;
  height: auto;
  border-radius: 30px;
}

.card-body {
  height: 200px;
}

.icon-tag {
  position: absolute;
  top: 10px;
  left: 205px;
  background-color: var(--color-uno);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.img-movil {
  flex-shrink: 0;
  width: 150px;
  // height: 200px;
  border-radius: 10px;
}

/*.centrador {
  position: relative;
  width: auto;
  height: 50%;
  // background-color: red;

}


.imagen {
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  background: aqua;
  padding: 12px;
}*/

/*
.card-img-top, .card-img-bottom {
flex-shrink: 0;
width: 150px;
height: 200px;
}
*/

/*

.card-img, .card-img-top, .card-img-bottom {
  flex-shrink: 0;
  width: 150px;
  height: 200px;
}
*/
