<div class="container">
  <div class="row">
    <div class="col-12  text-center py-5">
      <div class="fs-montserrat-bold-h2 text-center">Preguntas
        Frecuentes
      </div>
    </div>
    <div class="col-12 col-md-8 offset-md-2 ">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" data-toggle="collapse"
                   data-target="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                Qué puedo hacer con los recursos del Repositorio (Derechos)
              </div>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body px-md-5 py-md-4 font-size-h4">
                <span>
                  Los recursos del repositorio son de uso libre y abierto por lo que pueden ser consultados sin
                  restricción y/o descargados para su consulta. Algunos recursos cuentan con
                 <a Target="_blank" href="https://creativecommons.org/licenses/?lang=es"
                    class="fs-workSans-semiBold link-fraquent-questions">licencia creative commons</a>
                  que conceden ciertos derechos básicos,
                  los cuales deben ser tenidos en cuenta a la hora de modificar y /o distribuir el contenido
                  de los mismos.
                </span>
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" type="button" data-toggle="collapse"
                   data-target="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                Por qué no encuentro resultados en mi búsqueda
              </div>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body font-size-h4">

              <a Target="_blank" href=""
                 class="fs-workSans-semiBold link-fraquent-questions"> (Importante acompañar de imágenes o video)</a>
              <br>
              Todos y cada uno de los recursos del repositorio pueden ser consultados a través del buscador
              de la plataforma; puede realizar una búsqueda sencilla por autor, título, palabras clave,
              o avanzada cruzando los anteriores ítems. Una vez tenga los resultados de su búsqueda,
              los puede precisar aún más utilizando los diferentes filtros
              <a Target="_blank" href=""
                 class="fs-workSans-semiBold link-fraquent-questions">(Link)</a>
              a su disposición.
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" type="button" data-toggle="collapse"
                   data-target="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                Qué tipo de formatos encuentro en el repositorio
              </div>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body font-size-h4">
              El repositorio institucional de BibloRed cuenta con una amplia variedad de contenidos,
              en formatos diversos: textos (PDF), imágenes (JPEG, PNG), videos (MP4), audio (MP3);
              estos formatos son estandarizados, abiertos, que pueden ser leídos tanto por software
              propietario como libre.
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" type="button" data-toggle="collapse"
                   data-target="#collapseFour"
                   aria-expanded="false" aria-controls="collapseFour">
                Puedo crear un usuario en el repositorio
              </div>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body font-size-h4">
              Falta información
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" type="button" data-toggle="collapse"
                   data-target="#collapseFive"
                   aria-expanded="false" aria-controls="collapseFive">
                Puedo subir contenidos al repositorio
              </div>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body font-size-h4">
              El repositorio funciona con un modelo centralizado, los administradores de la plataforma se
              encargan de subir los contenidos previa evaluación y aprobación de los mismos, teniendo en
              cuenta los criterios referidos en el apartado “Términos de uso”
              <a Target="_blank" href=""
                 class="fs-workSans-semiBold link-fraquent-questions">(Link)</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <div class="fs-montserrat-bold-h3 link-fraquent-questions" type="button" data-toggle="collapse"
                   data-target="#collapseSix"
                   aria-expanded="false" aria-controls="collapseSix">
                Cómo puedo contactar a los administradores
              </div>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body font-size-h4">
              Falta información
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
