<div class="container pb-5">
  <div class="row">
    <div class="col-12 text-center pb-5">
      <div class="fs-montserrat-bold-h2">Encuentra contenido por tipo</div>
    </div>
    <div class=" col-12 col-lg-5">Donec semper tortor posuere dictum posuere. Nulla iaculis imperdiet lorem non rutrum.
      Duis a
      eros ac diam semper fermentum eu at justo.
    </div>
    <div class="col-12 col-lg-7 pt-5 pt-lg-0  d-none d-lg-block">
      <ds-content-type></ds-content-type>
    </div>

    <div class="col-12 col-lg-7 pt-5 pt-lg-0 d-lg-none">
    <ds-content-type></ds-content-type>
    </div>
  </div>
</div>
