<div class="container">
  <div class="collection-page"
       *ngVar="(collectionRD$ | async) as collectionRD">
    <div *ngIf="collectionRD?.hasSucceeded" @fadeInOut>
      <div *ngIf="collectionRD?.payload as collection">
        <ds-view-tracker [object]="collection"></ds-view-tracker>
        <div class="row mb-3">
          <div class="col-12 justify-content-end d-flex">
            <ds-dso-edit-menu></ds-dso-edit-menu>
            <div class="pl-2 space-children-mr">
              <ds-dso-page-subscription-button [dso]="collection"></ds-dso-page-subscription-button>
            </div>
          </div>


          <div class="col-12">
            <ds-comcol-page-header
              [name]="collection.name">
            </ds-comcol-page-header>
            <!-- TODO: organizar estos datos quemados con el endpoint que se realiza desde el backend-->
            <div class="fs-workSans-semiBold">
              [99 Contenidos]
            </div>

            <div class="">
              Última actualización: 24 Noviembre, 2020
            </div>
          </div>

          <div class="col-12 d-sm-none justify-content-center d-flex">
            <div class="w-75">
            <ds-comcol-page-logo *ngIf="logoRD$"
                                 [logo]="(logoRD$ | async)?.payload"
                                 [alternateText]="'Collection Logo'">
            </ds-comcol-page-logo>
            </div>
          </div>
          <!-- Collection description -->
          <div class="col-12 col-sm-7 mt-2">
                <span>
                  {{collection.firstMetadataValue('dc.description.abstract')}}
                </span>


            <div class="mt-3">
              <ds-share-buttons></ds-share-buttons>
            </div>
          </div>
          <!-- Collection logo -->
          <div class="col-5 d-none d-sm-block">
            <ds-comcol-page-logo *ngIf="logoRD$"
                                 [logo]="(logoRD$ | async)?.payload"
                                 [alternateText]="'Collection Logo'">
            </ds-comcol-page-logo>
          </div>
        </div>

          <ds-themed-search-page></ds-themed-search-page>
        <footer *ngIf="collection.copyrightText" class="border-top my-5 pt-4">
          <!-- Copyright -->
          <ds-comcol-page-content
            [content]="collection.copyrightText"
            [hasInnerHtml]="true">
          </ds-comcol-page-content>
        </footer>
      </div>
    </div>
    <ds-error *ngIf="collectionRD?.hasFailed"
              message="{{'error.collection' | translate}}"></ds-error>
    <ds-themed-loading *ngIf="collectionRD?.isLoading"
                       message="{{'loading.collection' | translate}}"></ds-themed-loading>
  </div>
</div>
