:root {
  // COLORES BIBLIO RED
  --color-uno: #251536;
  --color-dos: #5F249F;
  --color-tres: #C1A7E2;
  --color-cuatro: #555555;
  --color-cinco: #C0B8C7;
  --color-seis: #E6E2FD;
  --color-siete: #F5F4FC;
  /* --color-vieolet: #6435C9;
   --color-purple: #A333C8;*/
  --color-nav-bar: #5F249F; // navbar
  --color-footer: #251536; // footer
  --color-badge: #707070; // badge
  // Fuentes
  --f-workSans-regular: WorkSans-Regular;
  --f-workSans-semiBold: WorkSans-SemiBold;
  --f-workSans-bold: WorkSans-Bold;
  --f-workSans-blackitalic: WorkSans-BlackItalic;
  --f-montserrat-bold: Montserrat-Bold;

  // Tamaños de fuente para Montserrat Bold
  --fs-h1: 40px;
  --fs-h2: 36px;
  --fs-h3: 22px;
  --fs-h4: 20px;
  --fs-h5: 16px;


  --fs-h1: 40px;
  --fs-h2: 36px;
  --fs-h3: 22px;
  --fs-h4: 20px;
  --fs-h5: 16px;

  --fs-small-h1: 38px; /* Se editó tamaño*/
  --fs-small-h2: 32px; /* Se editó tamaño*/
  --fs-small-h3: 20px; /* Se editó tamaño*/
  --fs-small-h4: 18px; /* Se editó tamaño*/
  --fs-small-h5: 16px;

  // Tamaños de fuente para WorkSans
  --fs-works-sans: 20px; // Parrafos

  // Tamaños de tags
  --fs-tags: 12px; // Tags

  --sb-icon-size: 1.8em;
}

/****************
Font size
****************/

.font-size-h1 {
  font-size: var(--fs-h1) !important;
}

.font-size-h2 {
  font-size: var(--fs-h2) !important;
}

.font-size-h3 {
  font-size: var(--fs-h3) !important;
}

.font-size-h4 {
  font-size: var(--fs-h4) !important;
}

.font-size-h5 {
  font-size: var(--fs-h5) !important;
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .font-size-h1 {
    font-size: var(--fs-small-h1) !important;
  }

  .font-size-h2 {
    font-size: var(--fs-small-h2) !important;
  }

  .font-size-h3 {
    font-size: var(--fs-small-h3) !important;
  }

  .font-size-h4 {
    font-size: var(--fs-small-h4) !important;
  }

  .font-size-h5 {
    font-size: var(--fs-small-h5) !important;
  }
}

/****************
Text color
****************/
.text-color-uno {
  color: var(--color-uno);
}

.text-color-dos {
  color: var(--color-dos);
}

.text-color-tres {
  color: var(--color-tres);
}

.text-color-cuatro {
  color: var(--color-cuatro);
}

.text-color-cinco {
  color: var(--color-cinco);
}

.text-color-seis {
  color: var(--color-seis);
}

.text-color-siete {
  color: var(--color-siete);
}

.text-color-badge {
  color: var(--color-badge);
}

/****************
WorkSans-Regular
****************/
.fs-workSans-regular {
  font-family: var(--f-workSans-regular);
  // font-size: var(--fs-works-sans) !important;
}

/****************
WorkSans-SemiBold
****************/
.fs-workSans-semiBold {
  font-family: var(--f-workSans-semiBold);
  // font-size: var(--fs-works-sans) !important;
}

/****************
WorkSans-Bold
****************/
.fs-workSans-bold {
  font-family: var(--f-workSans-bold);
  // font-size: var(--fs-works-sans) !important;
}


/****************
WorkSans-BlackItalic
****************/
.fs-workSans-blackitalic {
  font-family: var(--f-workSans-blackitalic);
  // font-size: var(--fs-works-sans) !important;
}

/****************
Montserrat-Bold h1 - h5
****************/
.fs-montserrat-bold-h1 {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h1) !important;
  line-height: 1.5;
}

.fs-montserrat-bold-h2 {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h2) !important;
  line-height: 1.5;
}

.fs-montserrat-bold-h3 {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h3) !important;
  line-height: 1.5;
}

.fs-montserrat-bold-h4 {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h4) !important;
  line-height: 1.5;

}

.fs-montserrat-bold-h5 {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h5) !important;
  line-height: 1.5;
}


@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .fs-montserrat-bold-h1 {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h1) !important;
    line-height: 1.5;
  }
  .fs-montserrat-bold-h2 {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h2) !important;
    line-height: 1.5;
  }
  .fs-montserrat-bold-h3 {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h3) !important;
    line-height: 1.5;

  }
  .fs-montserrat-bold-h4 {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h4) !important;
    line-height: 1.5;
  }
  .fs-montserrat-bold-h5 {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h5) !important;
    line-height: 1.5;
  }

  .fs-titulo-biblored {
    font-family: var(--f-montserrat-bold);
    font-size: var(--fs-small-h2) !important;
    letter-spacing: -3px
  }
}

/****************
Titulos biblored
****************/
.fs-titulo-biblored {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h1) !important;
  letter-spacing: -3px
}

/****************
parrafo
****************/
.fs-parrafo {
  font-family: var(--f-montserrat-bold);
  font-size: var(--fs-h4) !important;
}

.fs-tags {
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-tags) !important;
}

/****************
Links
****************/
.link-fraquent-questions {
  cursor: pointer;
  text-decoration: none;
  // color: var(--color-uno) !important;
  color: var(--color-dos) !important;
  font-weight: 600;
}

.link-fraquent-questions:hover {
  color: var(--color-dos) !important;
  text-decoration: underline;
}

.link {
  color: var(--color-dos) !important;
  text-decoration: none;
  cursor: pointer
}

.link:hover {
  color: var(--color-dos) !important;
  text-decoration: underline;
}

.link-title {
  color: var(--color-uno) !important;
  text-decoration: none;
  cursor: pointer
}

.link-title:hover {
  color: var(--color-dos) !important;
  text-decoration: underline;
}

/****************
Botones
****************/
.btn-color-primary {
  background: var(--color-siete);
  color: var(--color-uno);
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-color-primary:hover {
  background: var(--color-uno);
  color: var(--color-siete);
}

.btn-color-secundary {
  background: var(--color-siete);
  color: var(--color-dos);
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-color-secundary:hover {
  background: var(--color-dos);
  color: var(--color-siete);
}

.btn-color-three {
  background: var(--color-dos);
  color: var(--color-siete);
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-color-three:hover {
  background: var(--color-siete);
  color: var(--color-dos);
}

.btn-color-four {
  background: var(--color-dos);
  color: var(--color-siete);

}

.btn-color-four:hover {
  background: var(--color-siete);
  color: var(--color-dos);
}

.btn-bibliored {
  background: var(--color-siete);
  color: var(--color-uno);
  border-color: var(--color-uno);;
  border-radius: 100rem;
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-bibliored:hover {
  background: var(--color-uno);;
  color: var(--color-siete);
}

.btn-bibliored-secundary {
  background-color: var(--color-dos) !important;
  color: var(--color-cinco) !important;
  border-radius: 100rem;
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-bibliored-secundary:hover {
  background-color: var(--color-siete) !important;
  color: var(--color-dos) !important
}

.btn-secundary-bibliored {
  border: 1px solid var(--color-dos) !important;
  background: var(--color-dos);
  color: white;
}

.btn-secundary-bibliored:hover {
  border: 1px solid var(--color-dos) !important;
  background: white;
  color: var(--color-dos);
}

.btn-secundary-bibliored-search {
  border: 1px solid var(--color-dos) !important;
  background: var(--color-dos);
  color: white;
  border-radius: 100rem;
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-h5) !important;
  padding: 5px 32px;
}

.btn-secundary-bibliored-search:hover {
  border: 1px solid var(--color-dos) !important;
  background: white;
  color: var(--color-dos);
}

.btn-tags {
  background: white;
  color: var(--color-dos);
  font-family: var(--f-workSans-regular);
  font-size: var(--fs-h4) !important;
  border-radius: 100rem;
  border: 1px solid var(--color-dos) !important;
}


.btn-tags:hover {
  background: white;
  color: var(--color-dos);
}


.btn-tags:focus {
  background: white;
  color: var(--color-dos);
}

.btn-tags-number {
  background: var(--color-uno);
  color: var(--color-siete);
  font-family: var(--f-workSans-semiBold);
  font-size: var(--fs-tags) !important;
  padding: 0 5px;
}


.btn-color-back {
  background: white;
  border-color: var(--color-cinco);
  color: var(--color-cinco);
  font-family: var(--f-workSans-regular);
  padding: 5px 32px;
  border-radius: 30px;
}

.btn-color-back:hover {
  background: white;
  color: var(--color-uno);
}

.badge-biblored {
  color: white;
  background-color: var(--color-badge);
}

// background
.background-color-siete {
  background-color: var(--color-siete);
}

.background-color-uno {
  background-color: var(--color-uno);
}

.descripcionText {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}

.page-item .page-link {
  color: var(--color-dos) !important;
}

.page-item.active .page-link {
  color: var(--color-dos) !important;
  background: var(--color-tres) !important;
  border-color: var(--color-tres) !important;
}

.page-item .page-link:hover {
  color: white !important;
  background: var(--color-dos) !important;
}


.cookie-modal .cm-btn.cm-btn-success, .klaro .context-notice .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success {
  background: var(--color-siete) !important;
  color: var(--color-uno) !important;
}

.cookie-modal .cm-btn.cm-btn-success, .klaro .context-notice .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success:hover {
  background: var(--color-uno) !important;
  color: var(--color-siete) !important;
}

.klaro .cookie-notice:not(.cookie-modal-notice) {
  background: var(--color-seis) !important;
  color: var(--color-uno) !important;
}

.klaro .cookie-modal .cm-btn, .klaro .context-notice .cm-btn, .klaro .cookie-notice .cm-btn {
  background: var(--color-uno) !important;
  color: var(--color-siete) !important;
}

.klaro .cookie-modal .cm-btn, .klaro .context-notice .cm-btn, .klaro .cookie-notice .cm-btn:hover {
  background: var(--color-siete) !important;
  color: var(--color-uno) !important;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
  color: var(--color-uno) !important;
}

.klaro .cookie-modal p, .klaro .cookie-modal strong, .klaro .cookie-modal h1, .klaro .cookie-modal h2, .klaro .cookie-modal ul, .klaro .cookie-modal li, .klaro .context-notice p, .klaro .context-notice strong, .klaro .context-notice h1, .klaro .context-notice h2, .klaro .context-notice ul, .klaro .context-notice li, .klaro .cookie-notice p, .klaro .cookie-notice strong, .klaro .cookie-notice h1, .klaro .cookie-notice h2, .klaro .cookie-notice ul, .klaro .cookie-notice li {
  color: var(--color-dos) !important;
}


a {
  color: var(--color-dos);
}
/*a:hover {
  color: var(--color-uno) !important;
}*/


.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: var(--color-uno);
  border-color:var(--color-uno);
}

.btn-primary{
  background:  var(--color-dos);
  color: var(--color-siete);
  border-color: var(--color-dos);
}
.btn-primary:hover{
  background: var(--color-siete);
  color: var(--color-dos);
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--color-cuatro);
  background-color: #fff;
  border-color: transparent transparent transparent;
  border-bottom: 2px solid var(--color-cuatro);
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: transparent transparent transparent;
  border-bottom: 2px solid var(--color-cuatro);
}


.link-fraquent-questions:hover {
  text-decoration: underline;
  transition: margin-left 0.5s;
   margin-left: 30px;
}
