<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
  <div>
    <div class="form-group input-group">
      <!--<div *ngIf="showScopeSelector" class="input-group-prepend">
        <button class="scope-button btn btn-outline-secondary text-truncate"
                [ngbTooltip]="(selectedScope | async)?.name" type="button"
                (click)="openScopeModal()">{{(selectedScope | async)?.name || ('search.form.scope.all' | translate)}}</button>
      </div>-->
      <input type="text" [(ngModel)]="query" name="query" class="form-control" attr.aria-label="{{ searchPlaceholder }}"
             [attr.data-test]="'search-box' | dsBrowserOnly" >
      <span class="input-group-append">
        <button type="submit" class="search-button btn btn-{{brandColor}} btn-bibliored btn-color-three border-0"
                [attr.data-test]="'search-button' | dsBrowserOnly">
                {{ ('search.form.search' | translate) }}<i class="fas fa-search ml-2"></i>
        </button>
      </span>
    </div>
    <div class="d-flex justify-content-end">
      <span *ngIf="!habilitarBusquedaAvanzada" class="link" (click)="metodoHabilitarBusquedaAvanzadaQuery(true)">Mostrar busqueda avanzados</span>
      <span *ngIf="habilitarBusquedaAvanzada" class="link" (click)="metodoHabilitarBusquedaAvanzadaQuery(false)">Ocultar busqueda avanzados</span>
    </div>
  </div>
</form>
<div *ngIf="habilitarBusquedaAvanzada">
  <h4>Busqueda avanzada</h4>

  <form [formGroup]="formularioBusquedaAvanzadaQuery">
    <div formArrayName="busquedaAvanzadaArrayQuery">
      <div *ngFor="let busquedaAvanzadaQuery of busquedaAvanzadaArrayQuery.controls; let i = index;">

        <div [formGroupName]="i">
          <div class="form-group input-group">

            <select class="form-control col-3" formControlName="condicionQuery" name="condicionQuery" *ngIf="!(query.trim() === '') || i > 0 ">
              <option value="AND" [selected]="busquedaAvanzadaQuery.value.condicionQuery === 'AND'">Y</option>
              <option value="OR" [selected]="busquedaAvanzadaQuery.value.condicionQuery === 'OR'">O</option>
              <option value="NOT" [selected]="busquedaAvanzadaQuery.value.condicionQuery === 'NOT'">No contenga</option>
            </select>

            <select class="form-control col-3" formControlName="tipoQuery" name="tipoQuery">
              <option value="dc.subject" [selected]="busquedaAvanzadaQuery.value.tipoQuery === 'dc.subject'">Tema</option>
              <option value="dc.creator" [selected]="busquedaAvanzadaQuery.value.tipoQuery === 'dc.creator'">Autor</option>
              <option value="dc.title" [selected]="busquedaAvanzadaQuery.value.tipoQuery === 'dc.title'">Titulo</option>
            </select>

            <input type="text" formControlName="busquedaQuery" name="busquedaQuery" class="form-control"
                   [value]="busquedaAvanzadaQuery.value.busquedaQuery">
            <div>

              <a class="btn btn-primary mr-2" (click)="anadirBusquedaQuery()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
                     viewBox="0 0 16 16">
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </a>
              <a class="btn btn-primary" (click)="borrarIndexBusquedaQuery(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                     viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
              </a>

            </div>
            <!--  <label>Descripción:</label><br />
              <textarea formControlName="descripcion"  [attr.if]="'descripcion' + i"></textarea>-->
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary mr-2" (click)="restablecerBusquedaQuery( ) ">
        Restablecer busqueda
      </a>

      <a class="btn btn-primary" (click)="onChangeBuscadorQuery()">Aplicar</a>
    </div>
  </form>
</div>
<!--<div *ngIf="habilitarBusquedaAvanzada">
  <h4>Busqueda avanzada</h4>

  <form [formGroup]="formularioBusquedaAvanzada">
    <div formArrayName="busquedaAvanzada">
      <div *ngFor="let busquedaAvanzada of busquedaAvanzadaArray.controls; let i = index;">
        <div [formGroupName]="i">
          <div class="form-group input-group">
            <select class="form-control col-3" formControlName="tipo" name="tipo">
              <option value="f.author" [selected]="busquedaAvanzada.value.tipo === 'f.author'">Autor</option>
              <option value="f.subject" [selected]="busquedaAvanzada.value.tipo === 'f.subject'">Tema</option>
              <option value="f.title" [selected]="busquedaAvanzada.value.tipo === 'f.title'">Titulo</option>
            </select>

            <select class="form-control col-3" formControlName="condicion" name="condicion">
              <option value="contains" [selected]="busquedaAvanzada.value.condicion === 'contains'">Contiene</option>
              <option value="equals" [selected]="busquedaAvanzada.value.condicion === 'equals'">Es</option>
              <option value="authority" [selected]="busquedaAvanzada.value.condicion === 'authority'">ID</option>
              <option value="notcontains" [selected]="busquedaAvanzada.value.condicion === 'notcontains'">No Contiene
              </option>
              <option value="notequals" [selected]="busquedaAvanzada.value.condicion === 'notequals'">No Es</option>
              <option value="notauthority" [selected]="busquedaAvanzada.value.condicion === 'notauthority'">No ID
              </option>
            </select>


            <input type="text" formControlName="busqueda" name="busqueda" class="form-control"
                   [value]="busquedaAvanzada.value.busqueda">
            <div>

              <a class="btn btn-primary mr-2" (click)="anadirBusqueda()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
                     viewBox="0 0 16 16">
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </a>
              <a class="btn btn-primary" (click)="borrarIndexBusqueda(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                     viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
              </a>

            </div>
            &lt;!&ndash;  <label>Descripción:</label><br />
              <textarea formControlName="descripcion"  [attr.if]="'descripcion' + i"></textarea>&ndash;&gt;
          </div>
        </div>
        <hr/>

      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-primary mr-2" (click)="restablecerBusqueda( ) ">
          Restablecer busqueda
        </a>

        <a class="btn btn-primary" (click)="onChangeBuscador()">Aplicar</a>
      </div>
    </div>
    <div>


    </div>
  </form>

</div>-->


<!--<form #form="ngForm">
  <div class="form-group input-group">
    <select class="form-control col-3"  [(ngModel)]="tipo" name="tipo" >
      <option value="f.author">Autor</option>
      <option value="f.subject">Tema</option>
      <option value="f.title">Titulo</option>
    </select>

  </div>
  <span class="input-group-append d-flex justify-content-end">
    <button type="submit" class="search-button btn btn-{{brandColor}} btn-bibliored btn-color-three border-0"
            [attr.data-test]="'search-button' | dsBrowserOnly">
      {{ ('Restaurar' | translate) }}
    </button>
    <button type="submit" class="search-button btn btn-{{brandColor}} btn-bibliored btn-color-three border-0 ml-2"
            [attr.data-test]="'search-button' | dsBrowserOnly" (click)="onChangePriceFilter(tipo, condicion, busquedaAvanzada)">
      {{ ('Aplicar' | translate) }}
    </button>
  </span>
</form>-->
