<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="fs-montserrat-bold-h1 text-center my-5">Repositorio digital Biblored</div>
    </div>
    <div class="col-12 col-md-8 offset-md-2 font-size-h4">
      <span>
       El Repositorio de la Red Distrital de Bibliotecas Públicas - BibloRed es la plataforma en donde se administran,
        preservan y difunden recursos digitales en diversos formatos como texto, audio, vídeo, imagen, entre otros.
        Estos recursos son desarrollados conjuntamente por usuarios de la Red Distrital de Bibliotecas Públicas de
        Bogotá - <a href="https://www.biblored.gov.co/" class="link">BibloRed</a>, en el marco de sus proyectos, programas y procesos,
        extendiéndose, además, a los contenidos producto de los proyectos editoriales de BibloRed y a los
        contenidos que constituyen la memoria institucional de la Red. Estos recursos abordan temas relacionados
        con la lectura, la escritura y la oralidad, la historia y memoria de Bogotá, así como el quehacer de las
        bibliotecas públicas, la cultura digital, entre otros, los cuales son puestos a disposición del público
        de manera abierta.
      </span>
      <br>
      <br>
      <span>
        La plataforma estructural del Repositorio Digital (RD) es Dspace, un sistema de código abierto,
        distribuido bajo una Licencia Pública General (GNU), con lo cual su distribución, uso y modificación es libre.
        el RD se rige por estándares internacionales, lo que le permiten vincularse con repositorios y redes nacionales
        e internacionales.
      </span>
   <!--   <div class="text-center my-5">
        <img src="https://biblored.gov.co/sites/default/files/2021-07/LanzamientoEscuelaDeLectores.jpg" alt="">
      </div>-->
      <div class="text-center my-5">
        <ds-share-buttons></ds-share-buttons>
      </div>
    </div>
  </div>
</div>
<div class="background-color-siete">
  <ds-page-data></ds-page-data>
</div>
