<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="fs-montserrat-bold-h2 text-center my-5">Repositorio digital Biblored</div>
    </div>
    <div class="col-12">
      <span>
        Colecciones digitales" es el repositorio de la Red Distrital de Bibliotecas Públicas de Bogotá
        – BibloRed, en donde se compilan, administran, preservan y difunden contenidos digitales en formatos como texto,
        audio, vídeo, imagen, proyectos web, entre otras clases de elementos; permitiendo su acceso, consulta e
        investigación de manera libre y gratuita.
      </span>
      <br>
      <br>
      <span>
        Los contenidos digitales que aquí se almacenan provienen en primer lugar, de la comunidad de usuarios y
        funcionarios de la Red y son realizados en el marco de los programas y servicios de las bibliotecas públicas de
        Bogotá. En segundo lugar, de los contenidos producidos en torno al trabajo de BibloRed por parte de
        investigadores. Por último, reúne contenidos generados por entidades públicas y privadas de la ciudad en torno a
        la alfabetización, fomento de la lectura y de la labor de la biblioteca pública, de la escritura y la oralidad .
      </span>
      <br>
      <br>
      <span>
        Los contenidos digitales se ponen a disposición del público como registros únicos que, a su vez, hacen parte de
        colecciones. Estas se establecen como espacios para la exploración de la memoria local y la historia de la ciudad
        y como incentivo de la gestión cultural y del conocimiento por parte de ciudadanos, colectivos y grupos sociales
        que habitan la ciudad de Bogotá.
      </span>
      <br>
      <br>
      <span>
        La plataforma “Colecciones digitales” es una de las fuentes de información de la Biblioteca Digital de Bogotá, un
        espacio público con recursos digitales para la investigación, la producción de conocimiento, el entretenimiento y
        la formación de vínculos entre ciudadanos.
      </span>
      <div class="text-center my-5">
        <img src="https://biblored.gov.co/sites/default/files/2021-07/LanzamientoEscuelaDeLectores.jpg" alt="">
      </div>
      <div class="text-center mb-5">
        <ds-share-buttons></ds-share-buttons>
      </div>
    </div>
  </div>
</div>
<div class="background-color-siete">
  <ds-page-data></ds-page-data>
</div>
