input[type="text"] {
  margin-top: calc(-0.5 * var(--bs-font-size-base));
  background-color: #fff !important;

  &.collapsed {
    opacity: 0;
  }
}

a.submit-icon {
  cursor: pointer;
  position: sticky;
  top: 0;

  color: var(--bs-white);

  &:hover, &:focus {
    color: var(--bs-white);
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .query:focus {
    max-width: 250px !important;
    width: 40vw !important;
  }
}

@media (min-width: 1199px) {
  .widthInput {
    width: 420px;
    height: 22px;
  }
}

@media (max-width: 1199px) {
  .widthInput {
    width: 320px;
    height: 22px;
  }
}

@media (max-width: 992px) {
  .widthInput {
    width: 440px;
    height: 22px;
  }
}

@media (max-width: 767px) {
  .widthInput {
    width: 290px;
    height: 22px;
  }
}

@media (max-width: 575px) {
  .widthInput {
    width: 320px;
    height: 22px;
  }
}

.radiusLeftInput {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.radiusRightInput {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.backgroundInput {
  background: white;
  border-radius: 20px;
  color: var(--color-uno);

}

.backgroundInput:hover {
  background: var(--color-uno);
  color: white;
}
