<!--<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
          &lt;!&ndash;<p class="lead">DSpace is the world leading open source repository platform that enables
            organisations to:</p>&ndash;&gt;
        </div>
      </div>
      <ul>
     &lt;!&ndash;   <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>&ndash;&gt;
      </ul>
      &lt;!&ndash;<p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>&ndash;&gt;
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>
      <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
    </div>
  </div>
  <picture class="background-image">
    &lt;!&ndash;<source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">&ndash;&gt;
    <img alt="" [src]="'https://www.biblored.gov.co/sites/default/files/inline-images/Google%20banner%20forms_Mesa%20de%20trabajo%201.jpg'"/>&lt;!&ndash; without the []="''" Firefox downloads both the fallback and the resolved image &ndash;&gt;
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>-->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-flex flex-wrap">
              <div>
                <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                  organisations to:</p>-->
              </div>
            </div>
            <ul>
              <!--   <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
                   metadata
                 </li>
                 <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
                   Google Scholar optimizations
                 </li>
                 <li>issue permanent urls and trustworthy identifiers, including optional integrations with
                   handle.net and DataCite DOI
                 </li>-->
            </ul>
            <!--<p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
            <p>The test user accounts below have their password set to the name of this
              software in lowercase.</p>-->
            <ul>
              <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
              <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
              <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
              <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
            </ul>
            <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
          </div>
        </div>
        <picture class="background-image">
          <img alt="" [src]="'https://www.biblored.gov.co/sites/default/files/2023-09/HOME651_banner%20home%20copia.jpg'"/>
        </picture>
        <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
      </div>

    </div>
    <div class="carousel-item">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-flex flex-wrap">
              <div>
                <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                  organisations to:</p>-->
              </div>
            </div>
            <ul>
              <!--   <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
                   metadata
                 </li>
                 <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
                   Google Scholar optimizations
                 </li>
                 <li>issue permanent urls and trustworthy identifiers, including optional integrations with
                   handle.net and DataCite DOI
                 </li>-->
            </ul>
            <!--<p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
            <p>The test user accounts below have their password set to the name of this
              software in lowercase.</p>-->
            <ul>
              <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
              <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
              <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
              <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
            </ul>
            <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
          </div>
        </div>
        <picture class="background-image">
          <img [src]="'https://www.biblored.gov.co/sites/default/files/2023-09/HOME652_banner%20home%20copia.jpg'" class="d-block w-100" alt="...">
        </picture>
        <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
      </div>

    </div>
    <div class="carousel-item">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-flex flex-wrap">
              <div>
                <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                  organisations to:</p>-->
              </div>
            </div>
            <ul>
              <!--   <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
                   metadata
                 </li>
                 <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
                   Google Scholar optimizations
                 </li>
                 <li>issue permanent urls and trustworthy identifiers, including optional integrations with
                   handle.net and DataCite DOI
                 </li>-->
            </ul>
            <!--<p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
            <p>The test user accounts below have their password set to the name of this
              software in lowercase.</p>-->
            <ul>
              <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
              <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
              <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
              <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
            </ul>
            <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
          </div>
        </div>
        <picture class="background-image">
          <img [src]="'https://www.biblored.gov.co/sites/default/files/2023-08/HOME621_banner%20home%20copia.jpg'" class="d-block w-100" alt="...">
        </picture>
        <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
