<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-none d-md-block">
              <div class="d-flex flex-wrap">
                <div>
                  <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                </div>
              </div>
              <ul>
                <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
                <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
                <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
                <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
              </ul>
              <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
            </div>
          </div>
        </div>
        <picture class="background-image">
          <img alt=""
               [src]="'https://www.biblored.gov.co/sites/default/files/2023-09/HOME651_banner%20home%20copia.jpg'"/>
        </picture>
      </div>
      <div class="background-color-uno text-white ">
        <div class="d-block d-md-none p-5">
          <div class="d-flex flex-wrap">
            <div>
              <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
              <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                organisations to:</p>-->
            </div>
          </div>
          <ul>
            <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
            <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
            <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
            <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
          </ul>
          <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-none d-md-block">
              <div class="d-flex flex-wrap">
                <div>
                  <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                  <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                    organisations to:</p>-->
                </div>
              </div>
              <ul>
                <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
                <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
                <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
                <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
              </ul>
              <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
            </div>
          </div>
        </div>
        <picture class="background-image">
          <img [src]="'https://www.biblored.gov.co/sites/default/files/2023-09/HOME652_banner%20home%20copia.jpg'"
               class="d-block w-100" alt="...">
        </picture>
      </div>
      <div class="background-color-uno text-white ">
        <div class="d-block d-md-none p-5">
          <div class="d-flex flex-wrap">
            <div>
              <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
              <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                organisations to:</p>-->
            </div>
          </div>
          <ul>
            <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
            <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
            <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
            <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
          </ul>
          <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="background-image-container">
        <div class="container py-5">
          <div class="jumbotron jumbotron-fluid">
            <div class="d-none d-md-block">
              <div class="d-flex flex-wrap">
                <div>
                  <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
                </div>
              </div>
              <ul>
                <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
                <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
                <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
                <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
              </ul>
              <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
            </div>
          </div>
        </div>
        <picture class="background-image">
          <img [src]="'https://www.biblored.gov.co/sites/default/files/2023-08/HOME621_banner%20home%20copia.jpg'"
               class="d-block w-100" alt="...">
        </picture>
      </div>
      <div class="background-color-uno text-white ">
        <div class="d-block d-md-none p-5">
          <div class="d-flex flex-wrap">
            <div>
              <h1 class="display-3 fs-titulo-biblored">Biblo Red</h1>
              <!--<p class="lead">DSpace is the world leading open source repository platform that enables
                organisations to:</p>-->
            </div>
          </div>
          <ul>
            <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
            <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
            <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
            <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
          </ul>
          <button type="button" class="btn-bibliored btn-color-primary">Ver todos</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </button>-->
</div>
